body{
  color white;
  background-image: url("./Whole_back-image.png");
  background-color:rgba(255,255,255,0.6);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

h2{
  font-size: 6vw;
}

h3{
  font-size: 3vw;
}

h4{
 font-size: 2vw;
}

.header img{
  width: 95vw;
  height: auto;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.header_button{
  border-bottom: 2px solid black;
}

.header_button button{
  margin-left: 0;
  margin-bottom: 2vw;
  margin-left: 2vw;
  padding 0;
  width: 14vw;
  height: 7vw;
  float left;
  background: linear-gradient(to left, #dcf8f8, white);
  border-bottom: 2px solid black;
}

.header_button img{
  margin-left: 5vw;
  width: 14vw;
  height: auto;
  margin-top: 2vw;
  border-radius: 65px;
  border: 2px solid black;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.header_button img:active{
  box-shadow: -5px -5px 10px #668AD8 inset;
}

.button1{
  font-size: 3vw;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 5vw;
  color: black;
  box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.button1:active{
  box-shadow: -5px -5px 10px #668ADB inset;
  background: linear-gradient(to left, #95eaea, #b8f1f1);
}

.button2{
  font-size: 3vw;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 5vw;
  color: black;
  box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.button2:active{
  box-shadow: -5px -5px 10px #668ADB inset;
  background: linear-gradient(to left, #95eaea, #b8f1f1);
}

.button3{
  font-size: 3vw;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 5vw;
  color: black;
  box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.button3:active{
  box-shadow: -5px -5px 10px #668ADB inset;
  background: linear-gradient(to left, #95eaea, #b8f1f1);
}

.button4{
  font-size: 3vw;
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 5vw;
  color: black;
  box-shadow: 3px 3px 6px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.button4:active{
  box-shadow: -5px -5px 10px #668ADB inset;
  background: linear-gradient(to left, #95eaea, #b8f1f1);
}

.main{
  border-bottom: 2px solid black;
}

.Contents_text{
    font-size: 3vw;
    width: 95vw;
    background-color: #95eaea;
    color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 7px -2px #555,
    3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Contact_adress{
  font-size: 3vw;
}

.Contact_text{
  font-size: 1vw;
}

.logo{
  width: 95vw;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.logo img{
  width: 95vw;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.thumbnail img{
 width: 30vw;
 box-shadow: 7px 7px 7px -2px #555,
 3px 3px 8px rgba(255,255,255,0.8) inset;
}

.news_text{
  width: 40vw;
  font-size: 4vw;
  border-bottom: 2px solid black;
}

.char_logo_top img{
  width: 7vw;
  margin-left: 14vw;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.char_logo_top img:active{
  box-shadow: -5px -5px 10px #668ADB inset;
}

.Members_text{
  width: 80vw;
  margin-left: 10vw;
  font-size: 2vw;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px black;
}

.char_logo_top img:hover{
  box-shadow: 15px 15px 15px -2px black,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.members_Changes div{
  float: left;
}

.members_change_button {
  font-size: 2vw;
  width: 2vw;
  height: 2vw;
  margin-left: 30vw;
  border-radius: 100px;
  box-shadow: 7px 7px 7px -2px black;
  background: linear-gradient(to left, #95eaea, #b8f1f1);
}

.member_choose{
  width: 33vw;
  margin-left: 5vw;
  height: auto;
}

.change_member{
  width: 10vw;
  border-radius: 50px;
  margin-bottom: 20vw;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.member_prof{
  background: linear-gradient(to left, #dcf8f8, white);
  width: 22vw;
  height: 39.5vw;
  margin-left: 10vw;
  margin-right: 5vw;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.prof_name {
  font-size: 2vw;
  box-shadow: 3px 3px 3px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Prof {
  font-size: 2vw;
  border-bottom: 2vw;
  box-shadow: 3px 3px 3px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.prof_text {
  font-size: 1.5vw;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.yajirusi {
  width: 10vw;
  margin-bottom: 25vw;
}

.yajirusi:hover{
  border-radius: 100px;
  box-shadow: 10px 10px 10px -2px black,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.yajirusi:active {
  border-radius: 100px;
  box-shadow: -5px -5px 10px #668AD8 inset;
}

.change_member:active{
  box-shadow: -5px -5px 10px #668ADB inset;
}

.Home_contents {
  width: 17vw;
  margin-top: 10vw;
  background-color: #95eaea;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_thmb{
  width: 80vw;
  height: auto;
  margin-top: 10vw;
  margin-left: 10vw;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_about{
  background: linear-gradient(to left, #dcf8f8, white);
  width: 70vw;
  height: 25vw;
  font-size: 2vw;
  margin-top: 10vw;
  margin-left: 15vw;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_about:active{
    box-shadow: -5px -5px 10px #668ADB inset;
}

.Home_about :hover{
  box-shadow: 15px 15px 15px -2px black,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_about_text2{
  font-size: 3vw;
}

.Home_about_text3{
  font-size: 2vw;
}

.Home_News img{
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
  width: 80vw;
  height: auto;
  margin-top: 10vw;
  margin-left: 10vw;
  border-radius: 10px;
}

.Home_News img:active{
  box-shadow: -5px -5px 10px #668ADB inset;
}

.Home_News :hover{
  box-shadow: 15px 15px 15px -2px black,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.article{
  width: 60vw;
  font-size: 2vw;
}

.Home_members{
  margin-top: 10vw;
  margin-bottom: -10vw;
}

.Home_members img{
  width: 15vw;
  height: auto;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px black;
  margin-left: 8vw;
  float: left;
}

.Home_members img:hover{
  box-shadow: 15px 15px 15px -2px black,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_members_text{
  font-size: 3vw;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
  font-weight: 700;
}

.Home_contents_Contact{
  width: 17vw;
  margin-top: 20vw;
  background-color: #95eaea;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_Contact{
  background: linear-gradient(to left, #dcf8f8, white);
  width: 80vw;
  height: 8vw;
  font-size: 2.5vw;
  padding-top: 4vw;
  margin-left: 10vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_Contact:hover{
  box-shadow: 15px 15px 15px -2px black,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.Home_Contact:active{
  box-shadow: -5px -5px 10px #668ADB inset;
}

.footer{
  color: black;
  background-color: #95eaea;
  border-radius: 10px;
  box-shadow: 7px 7px 7px -2px #555,
  3px 3px 8px rgba(255,255,255,0.8) inset;
}

.footer button{
  width: 23vw;
  font-size: 2vw;
  color: black;
  margin-top: -5vw;
  background: linear-gradient(to left, #dcf8f8, white);
}
